<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <title>CONECTE+ UNIVERSIDADES</title>

    <link href="../public/vendor/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../public/css/fontawesome.css">
    <link rel="stylesheet" href="../public/css/templatemo-scholar.css">
    <link rel="stylesheet" href="../public/css/owl.css">
    <link rel="stylesheet" href="../public/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

</head>

<body>

    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="index.html" class="logo">
                            <img src="assets/images/logo.png" alt="CONECTE+ UNVERSIDADES">
                        </a>
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Início</a></li>
                            <li class="scroll-to-section"><a href="#services">Objetivos</a></li>
                            <li class="scroll-to-section"><a href="#us">Sobre nós</a></li>
                            <li class="scroll-to-section"><a href="#dados">Dados abertos</a></li>
                            <li class="scroll-to-section"><a href="#team">Nosso time</a></li>
                            <li class="scroll-to-section"><a href="#apoiadores">Apoiadores</a></li>
                            <li class="scroll-to-section"><a id="entrar" href="">Entrar</a></li>
                            <li class="scroll-to-section"><a id="cadastrar" href="">Cadastre-se</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>

        <div id="loginModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p class="title">Bem-vindo de volta!</p>
                <form class="form">
                    <input type="email" class="input" placeholder="Email">
                    <input type="password" class="input" placeholder="Senha">
                    <p class="page-link">
                        <span class="page-link-label">Esqueceu sua senha?</span>
                    </p>
                    <button class="form-btn">ENTRAR</button>
                </form>
                <p class="sign-up-label">
                    Ainda não tem uma conta? <span class="sign-up-link">Increva-se aqui!</span>
                </p>
            </div>
        </div>
        </div>

        <div id="signupModal" class="modal">
            <div class="modal-content form-container">
                <span class="close">&times;</span>
                <p class="title">Faça parte da nossa comunidade!
                </p>
                <form class="form">
                    <input type="text" class="input" placeholder="Nome completo">
                    <input type="email" class="input" placeholder="e-mail">
                    <input type="password" class="input" placeholder="Senha">
                    <button class="form-btn">Criar conta</button>
                </form>
                <p class="sign-up-label">
                    Já tem uma conta?<span class="sign-up-link"> Entre aqui!</span>
                </p>
            </div>
        </div>

    </header>

    <div class="main-banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-banner">
                        <div class="item item-1">
                            <div class="header-text">
                                <h2>COM A CONECTE+ UNIVERSIDADES O SEU DIPLOMA ESTÁ MAIS PERTO DO QUE VOCÊ IMAGINA!</h2>
                                <p>Somos uma plataforma que conhece os seus desafios, e estamos aqui para ajudar você a
                                    chegar até o ensino superior. <br>Não deixe seu futuro para depois, increva-se no
                                    nosso portal!</p>
                            </div>
                        </div>
                        <div class="item item-2">
                            <div class="header-text">
                                <h2>QUEM AVISA AMIGO É! <br> ENTÃO AVISA A SEUS AMIGOS QUE ESTAMOS DE PORTAS ABERTAS.
                                </h2>
                                <p>Compartilhe com seus amigos, familiares e colegas sobre a nossa plataforma. Cursar o
                                    ensino superior é um sonho possível e vamos ajudar vocês a realizarem. <br> Estamos
                                    ansiosos para achara a sua vaga <strong>PERFEITA</strong>!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="services section" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="icon">
                            <img src="assets/images/service-01.png" alt="online degrees">
                        </div>
                        <div class="main-content">
                            <h4>Democratização do acesso ao ensino superior</h4>
                            <p>Conectar 80% de nossos usuários com vunerabilidade social e econômica a vagas de ensino
                                superior.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="icon">
                            <img src="assets/images/service-02.png" alt="short courses">
                        </div>
                        <div class="main-content">
                            <h4>Reduzir o tempo médio pela procura por vagas</h4>
                            <p>Reduzir em 50% o tempo para o preenchimento de vagas do ensino superior destinadas as
                                cotas e programas sociais.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="icon">
                            <img src="assets/images/service-03.png" alt="web experts">
                        </div>
                        <div class="main-content">
                            <h4>Diminuir a evasão de alunos em situação de vulnerabilidade</h4>
                            <p>Destinar os alunos a iniciativas públicas ou privadas para permanência nas instituições.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section about-us" id="us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-1">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Como conectamos você as vagas?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Fazemos uma série de análise do seu perfil socioeconomico e
                                    <strong>CONECTAMOS</strong> você a melhor vaga. Isso só é possível com o envio das
                                    informações <strong>reais</strong> de cada aluno, junto as informações de todas as
                                    instituições de ensino fornecidas pelo <strong>MEC</strong>.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Ofertamos algum curso ou graduação?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>NÃO!</strong> Nosso objetivo é realizar a conexão entre você e a vaga, não
                                    ofertamos nenhum curso ou graduação.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Existe alguma taxa para o uso do portal?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Somos totalmente <strong>GRATUITOS</strong>! Não cobramos nenhuma taxa para o uso do
                                    portal. Nosso objetivo é ser acessível para todos os usuários.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Como apoiar o nosso projeto?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Você pode apoiar o nosso projeto de diversas formas, seja compartilhando com seus
                                    amigos, familiares ou até mesmo <strong>doando</strong> para o nosso projeto. Se
                                    você tem uma empresa e quer ser um dos nossos <strong>apoiadores</strong>, entre em
                                    contato conosco.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 align-self-center">
                    <div class="section-heading">
                        <h6>Sobre nós</h6>
                        <h2>Por que estamos aqui?</h2>
                        <p>
                            Nosso objetivo é conectar você a uma vaga de ensino superior, seja ela em uma universidade
                            pública ou privada. Acreditamos que todos tem o direito a uma educação de qualidade e é por
                            isso que estamos aqui.
                        </p>
                        <div class="main-button">
                            <a href="#contact">SEJA UM APOIADOR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section fun-facts" id="dados">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="counter">
                                    <h2 class="timer count-title count-number" data-to="26" data-speed="1000"></h2>
                                    <p class="count-text ">Vagas nos 26 estados e <br>Distrito Federal.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="counter">
                                    <h2 class="timer count-title count-number" data-to="804" data-speed="1000"></h2>
                                    <p class="count-text ">Instituições Públicas e Privadas.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="counter">
                                    <h2 class="timer count-title count-number" data-to="50" data-speed="1000"></h2>
                                    <p class="count-text ">Cursos de graduação.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="counter end">
                                    <h2 class="timer count-title count-number" data-to="1" data-speed="1000"></h2>
                                    <p class="count-text ">Parceiros</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="team section" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="team-member">
                        <div class="main-content">
                            <img src="assets/images/member-01.png" alt="">
                            <span class="category">CEO e Gerente de Projeto</span>
                            <h4>Marco Vinícius</h4>
                            <ul class="social-icons">
                                <li><a href="https://www.instagram.com/eimarcoo"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li><a href="https://github.com/marco-arruda"><i class="fab fa-github"></i></a></li>
                                <li><a href="https://linkedin.com/in/eimarcoo"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-member">
                        <div class="main-content">
                            <img src="assets/images/member-02.png" alt="">
                            <span class="category">Gerente de Projeto
                            </span>
                            <h4>Gabriely Victória</h4>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-github"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-member">
                        <div class="main-content">
                            <img src="assets/images/member-03.png" alt="">
                            <span class="category">Assistente de Projeto</span>
                            <h4>Gabriel Oliveira</h4>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-github"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-member">
                        <div class="main-content">
                            <img src="assets/images/member-04.png" alt="">
                            <span class="category">Scrum Master</span>
                            <h4>Pedro </h4>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section testimonials" id="apoiadores">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="owl-carousel owl-testimonials">
                        <div class="item">
                            <p>
                                Como instituição de ensino superior acreditamos que o portal possa contribuir como porta
                                de entrada ao ensino superior para jovens em situação de vulnerabilidade social.
                            </p>
                            <div class="author">
                                <img src="assets/images/novaroma.png" alt="">
                                <span class="category">Apoiador</span>
                                <h4>Faculdade Nova Roma</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 align-self-center">
                    <div class="section-heading">
                        <h6>APOIADORES</h6>
                        <h2>Quem apoia nosso projeto?</h2>
                        <p>Instituições que apoiam o nosso projeto tem acesso as informações de estudantes que desejam
                            ingressar em algum dos seus cursos disponíveis e oferecer oportunidades especiais como
                            descontos para os estudantes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-us section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6  align-self-center">
                    <div class="section-heading">
                        <h6>Entre em contato conosco</h6>
                        <h2>Tem alguma dúvida, feedback ou quer ser um de nossos parceiros? <br>Então entre em contato
                            conosco!</h2>
                        <p>Preencha o formulário ao lado com o seu nome e email junto a sua mensagem para que possamos
                            te dar um retorno sobre o assunto.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-us-content">
                        <form id="contact-form" action="" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <fieldset>
                                        <input type="name" name="name" id="name" placeholder="Seu nome..."
                                            autocomplete="on" required>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*"
                                            placeholder="Seu e-mail..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="message" id="message" placeholder="Sua mensagem"></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="orange-button">Enviar
                                            mensagem</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="col-lg-12">
                <p>Copyright © 2024 EDUC SOLUTION. Todos os direitos reservados.&nbsp;&nbsp;&nbsp;</p>
                <p>Projeto com fins educacionais.</p>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="../public/vendor/vendor/jquery/jquery.min.js"></script>
    <script src="../public/vendor/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/vendor/assets/js/isotope.min.js"></script>
    <script src="../public/vendor/assets/js/owl-carousel.js"></script>
    <script src="../public/vendor/assets/js/counter.js"></script>
    <script src="../public/vendor/assets/js/custom.js"></script>

</body>

</html>