<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Curso</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Editar Curso</h1>
    <form action="/cursos/<%= curso.id_curso %>?_method=PUT" method="POST">
        <label for="nome_curso">Nome do Curso:</label>
        <input type="text" id="nome_curso" name="nome_curso" value="<%= curso.nome_curso %>" required>
        <button type="submit">Salvar</button>
    </form>
    <a href="/cursos">Voltar</a>
</body>

</html>